{
    "timeout": 30000,
    "endpoint": "endpoint",
    "headers": {
        "SELECT": {
            "Accept": "text/csv"
        },
        "CONSTRUCT": {
            "Accept": "application/ld+json"
        }
    },
    "auth": {
        "username": "username",
        "password": "password"
    }
}
